@import "../../shared/palette.scss";
::ng-deep .mat-tab-label {
    min-width: 0px !important;
}

::ng-deep .mat-input-element {
    color: $tn1 !important;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    display: none;
}

::ng-deep .mat-flat-button:disabled {
    background-color: #00000000 !important;
}

mat-form-field {
    width: 100%;
}

mat-card {
    overflow: hidden;
    padding: 0 !important;
}

.ng-hide {
    display: none;
}

.form {
    padding: 16px;
}

.icon {
    color: $tn2;
}

.user {
    padding: 16px 16px 016px 16px;
    .picture {
        cursor: pointer;
        margin: -12px 0 -12px -12px;
        border: 2px solid $bg2;
        background-size: cover;
        display: block;
        position: relative;
        border-radius: 4px 4px 50% 4px;
        width: 50px;
        height: 50px;
        min-width: 50px;
    }
    .text {
        margin: -12px 0 -12px 12px;
        color: $tn2;
        .name {
            font-size: 1.5em;
        }
        .email {
            font-size: 1em;
        }
        .phone {
            font-size: 1em;
        }
    }
}

.sign {
    .text {
        margin: 6px 0 0 0;
        color: $tn2;
    }
    .button {
        width: 42px;
        height: 42px;
        background-color: $bg2;
        margin: 0 -12px 4px 10px;
        text-align: center;
        border-radius: 50% 4px 4px 4px;
        .icon {
            color: $tn2;
            font-size: 2em;
            margin: 8px 0 0 2px;
        }
    }
}

.google {
    .text {
        margin: 6px 0 0 0;
        color: $tn2;
    }
    .button {
        width: 42px;
        height: 42px;
        background-color: $bg2;
        margin: 0 10px 4px -12px;
        text-align: center;
        border-radius: 4px 50% 4px 4px;
        .icon {
            color: $tn2;
            font-size: 2em;
            margin: 8px 0 0 2px;
        }
    }
}