@import "../../shared/palette.scss";
.recipe-container {
    padding: 16px;
}

.font-mina {
    font-family: Mina;
}

.ng-hide {
    display: none;
}

.upload-icon {
    font-size: 26px;
    color: $tn2;
    margin: 0 4px 0 8px;
    cursor: pointer;
}

.addbutton {
    margin: auto 0 18px 0;
}

.pager {
    margin-top: 20px;
    margin-bottom: -22px;
}

.click-area {
    width: 42px;
    height: 42px;
    background-color: $bg2;
    margin: 0 10px 0 10px;
    text-align: center;
    color: $tn2;
    font-size: 3em;
}

.click-area-left {
    border-radius: 4px 50% 4px 4px;
}

.click-area-right {
    border-radius: 50% 4px 4px 4px;
}

.button-label {
    margin-top: 4px;
    font-size: 16px;
}

.left {
    left: -48px;
    color: $tn2;
}

.right {
    right: -48px;
    color: $tn2;
}

.pager-icon-left {
    margin-left: -6px;
}

.pager-icon-right {
    margin-left: -10px;
}

.title {
    padding: 0 20px;
    background: $bg2;
    border-radius: 4px 4px 4px 20px;
    margin: -22px -22px 22px -22px;
    display: block;
}

.page5 {
    margin: 24px;
}

::ng-deep .mat-step-label {
    display: none !important;
}

 ::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
    margin-right: 0 !important;
}

 ::ng-deep .mat-button {
    min-width: 0;
    padding: 0 8px;
}

 ::ng-deep .mat-stepper-horizontal {
    background: none !important;
}

 ::ng-deep .mat-horizontal-stepper-header-container {
    background: none !important;
}

 ::ng-deep .mat-horizontal-content-container {
    background: $bg3 !important;
    border-radius: 4px;
    padding: 24px !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding-bottom: 10px !important;
}

::ng-deep textarea[cdktextareaautosize].mat-input-element {
    overflow: hidden;
}

::ng-deep .inline-dropdown .mat-form-field-infix {
    width: 100px !important;
}

::ng-deep .inline-dropdown .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

::ng-deep .inline-dropdown .mat-form-field-underline {
    display: none;
}

input[type=number] {
    &,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        appearance: none;
        &:hover,
        &:focus {
            -moz-appearance: number-input;
        }
    }
}