.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.example-container>* {
    width: 100%;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    display: none;
}

.logo {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 40px;
    color: #51608c;
    margin-left: 13px;
    text-decoration: none;
}

mat-icon {
    color: #51608c;
}

.nav-spacer {
    height: 220px;
}

.nav-spacer-mobile {
    height: 68px;
}

.chef {
    margin-top: 150px;
}

.chef-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    position: sticky;
    background-color: #262626;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.social {
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    height: 36px;
    float: left;
    line-height: 36px;
    margin: 5px;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.container {
    margin: 20px 20px 20px 20px;
}

.container-right {
    margin: 20px 220px 20px 20px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-icon {
    cursor: pointer;
}

.toolbar-avatar {
    background-size: cover;
    box-shadow: none;
}

.login-form-box {
    padding: 16px;
}

mat-form-field {
    width: 100%;
}

.mat-input-element {
    color: white;
}

.login-icon {
    color: #212121;
}