@import "../../shared/palette.scss";
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    >.col,
    >[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.page-container {
    .mobile-horizontal-space12pxr {
        height: 60px;
    }
}

.toolbar-spacer {
    flex: 1 1 auto;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    outline: 0 none !important;
    text-decoration: none;
    color: $tn2;
}

.sidenav-container {
    height: 100%;
    .sidenav {
        width: 320px;
        box-shadow: 3px 0 6px $shd;
        margin: 0 0 0 0;
        height: 100%;
        .drawer-close-box {
            width: 100%;
            height: 50px;
            margin: 0;
            .drawer-close {
                margin: 12px 12px 0 0;
                cursor: pointer;
                color: $tn2;
            }
        }
        .user-container {
            width: 100%;
            margin: 0;
            .user-picture {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-size: cover;
                border: 2px solid $tn2;
            }
            .user-picture-none {
                font-size: 36px;
            }
        }
        .user-name {
            font-size: 16px;
            font-family: Mina;
            text-transform: uppercase;
            color: $tn2;
            margin: 0;
        }
        .box {
            position: relative;
            bottom: 0;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 10px;
            cursor: pointer;
            color: $tn2;
            .icon {
                font-size: 36px;
                margin: 0;
                padding: 0;
            }
            .sub {
                font-size: 12px;
                margin: 0;
                padding: 0;
            }
            .all,
            .my {
                border-right: 1px solid $tn2;
                padding: 0 12px;
            }
            .add {
                padding: 0 12px;
            }
        }
        .bottom-container {
            position: absolute;
            bottom: 0;
            height: 100px;
            width: 100%;
            margin: 0;
            .spacer-line-bottom {
                text-transform: uppercase;
                font-size: 10px;
                cursor: pointer;
                color: $tn2;
                width: 84%;
                border-top: 1px solid $tn2;
                .icon {
                    font-size: 36px;
                    margin: 0;
                    padding: 0;
                }
                .sub {
                    font-size: 12px;
                    margin: 0;
                    padding: 0;
                }
                .home {
                    padding: 20px 12px;
                }
            }
        }
    }
}

.menu {
    position: absolute !important;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 40px;
    .top {
        height: 70px;
        margin: 0;
        .logo {
            position: relative;
            top: 4px;
            left: 6px;
            width: 60px;
            height: 60px;
            background-image: url("../../../assets/img/logo.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
        .logo-text {
            font-family: 'Syncopate', sans-serif;
            color: $bg2;
            font-size: 24px;
            font-weight: 200;
            margin: 10px 0 0 12px;
        }
    }
    .drawer-open {
        margin: 12px 12px 0 0;
        cursor: pointer;
        color: $bg2;
    }
}