<!-- main navbar -->
<div class="menu" *ngIf="(!isHandset)">
    <div class="top">
        <div class="logo">
            <div class="border">
                <div class="firstline">
                    <span>rm</span>
                </div>
                <div class="secondline">
                    <span>cook</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom" #stickyMenu [class.sticky]="sticky">
        <mat-toolbar class="toolbar">
            <div class="picture-container">
                <img class="picture" src="../../../assets/img/chef.png" alt="" *ngIf="!(isHandset)">
            </div>
            <div class="logo">
                <span>rmcook</span>
            </div>
            <span class="toolbar-spacer"></span>
            <div class="menu" *ngIf="(!isHandset)">
                <ul>
                    <li><a [routerLink]="['/home']" class="first">kezdőoldal</a></li>
                    <li><a [routerLink]="['/recipes', 'all']">receptek</a></li>
                    <li><a class="last" *ngIf="user" [matMenuTriggerFor]="submenu1">az én könyvem</a></li>
                </ul>
            </div>
            <div class="user-container">
                <a [routerLink]="['/user']"><span class="user" [ngStyle]="{'background-image':'url('+user.photoURL+')'}" *ngIf="user"></span></a>
                <a [routerLink]="['/user']"><span class="user" *ngIf="!user"><span class="login"><i class="fa fa-sign-in icon"></i></span></span></a>
            </div>
        </mat-toolbar>
    </div>
</div>
<mat-menu #submenu1="matMenu">
    <div class="subtoolbar">
        <span class="toolbar-spacer"></span>
        <div class="submenu">
            <ul>
                <li><a [routerLink]="['/recipes', 'myrecipes']">receptjeim</a></li>
                <li><a [routerLink]="['/recipe-send']">recept írás</a></li>
            </ul>
        </div>
    </div>
</mat-menu>

<!-- mobile navbar -->
<div class="mobile-menu" *ngIf="(isHandset)">
    <mat-toolbar class="toolbar">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
        <div class="logo-container">
            <div class="logo">
                <span>rmcook</span>
            </div>
        </div>
        <span class="toolbar-spacer"></span>
        <div class="user-container">
            <a [routerLink]="['/user']"><span class="user" [ngStyle]="{'background-image':'url('+user.photoURL+')'}" *ngIf="user"></span></a>
            <a [routerLink]="['/user']"><span class="user" *ngIf="!user"><span class="login"><i class="fa fa-sign-in icon"></i></span></span></a>
        </div>
    </mat-toolbar>
</div>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset) ? 'push' : 'push'" [opened]="false">

        <side-nav-menu title="Menü" [sidenav]="drawer">
            <side-nav-item route="/home" title="Kezdőoldal"></side-nav-item>
            <side-nav-item route="/recipes/all" title="Receptkönyv"></side-nav-item>
            <side-nav-x-group title="Az én könyvem">
                <side-nav-item route="/recipes/myrecipes" title="Receptjeim"></side-nav-item>
                <side-nav-item route="/recipe-send" title="Recept írás"></side-nav-item>
            </side-nav-x-group>
        </side-nav-menu>
    </mat-sidenav>
    <mat-sidenav-content>

        <div class="container">
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center">
                <div fxFlex="10%"></div>
                <div fxFlex="80%">
                    <router-outlet></router-outlet>
                </div>
                <div fxFlex="10%"></div>
            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>