<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset)"><mat-icon>menu</mat-icon></button>

        <img class="chef" src="../../../assets/img/chef.png" alt="" *ngIf="!(isHandset)">
        <span class="logo" color="basic">rmcook</span>
        <span class="toolbar-spacer"></span>

        <button *ngIf="user" mat-mini-fab [matMenuTriggerFor]="avatarDropDown" color="basic"><span style="font-size: 2em"><i class="fa fa-user"></i></span></button>
        <button *ngIf="!user" mat-button [matMenuTriggerFor]="avatarDropDown"><span *ngIf="!(isHandset)">Bejelentkezés&nbsp;</span><span style="font-size: 2em"><i class="fa fa-sign-in"></i></span></button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset) ? 'push' : 'push'" [opened]="!(isHandset)">
        <div [class]="(isHandset) ? 'nav-spacer-mobile' : 'nav-spacer'"></div>
        <mat-nav-list (click)="drawer.toggle()" *ngIf="(isHandset)">
            <a fxLayout="row" fxLayoutAlign="end" mat-list-item routerLink="/home">
                    Kezdőoldal
                </a>
            <a fxLayout="row" fxLayoutAlign="end" mat-list-item [routerLink]="['/recipes']">
                    Receptkönyv
                </a>
            <a fxLayout="row" fxLayoutAlign="end" mat-list-item routerLink="/links">
                    Linkek
                </a>
            <a fxLayout="row" fxLayoutAlign="end" mat-list-item routerLink="/recipe-admin" *ngIf="(loggedInSupervisor)">
                    Szervíz
                </a>
        </mat-nav-list>
        <mat-nav-list *ngIf="!(isHandset)">
            <a fxLayout="row" fxLayoutAlign="end" mat-list-item routerLink="/home">
                Kezdőoldal
            </a>
            <a fxLayout="row" fxLayoutAlign="end" mat-list-item [routerLink]="['/recipes']">
                Receptkönyv
            </a>
            <a fxLayout="row" fxLayoutAlign="end" mat-list-item routerLink="/links">
                Linkek
            </a>
            <a fxLayout="row" fxLayoutAlign="end" mat-list-item routerLink="/recipe-admin" *ngIf="(loggedInSupervisor)">
                Szervíz
            </a>
        </mat-nav-list>
        <div class="chef-mobile" *ngIf="(isHandset)">
            <img class="chef" src="../../../assets/img/chef.png" alt="">
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-menu #avatarDropDown="matMenu">
            <mat-card *ngIf="user">
                <mat-card-header>
                    <mat-card-title fxLayout="row" fxLayoutAlign="end">{{ user?.displayName }}</mat-card-title>
                    <mat-card-subtitle fxLayout="row" fxLayoutAlign="end"><span style="font-size: 1em"><i class="fa fa-envelope"></i></span>&nbsp; {{ user?.email }}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <div>
                <button fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px" mat-menu-item style="margin-top: 7px" *ngIf="user" (click)="logout()">Kijelentkezés&nbsp;<span style="font-size: 2em"><i class="fa fa-sign-out"></i></span></button>
            </div>
            <button *ngIf="!user" mat-menu-item (click)="loginGoogle()"><span class="social"><i class="fa fa-google-plus"></i></span>&nbsp;- Google</button>
            <button *ngIf="!user" mat-menu-item (click)="loginGoogle()"><span class="social"><i class="fa fa-facebook"></i></span>&nbsp;- Facebook</button>
            <button *ngIf="!user" mat-menu-item (click)="loginGoogle()"><span class="social"><i class="fa fa-twitter"></i></span>&nbsp;- Twitter</button>
        </mat-menu>

        <div [class]="(isHandset) ? 'container' : 'container-right'">
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center">
                <div fxFlex="10%"></div>
                <div fxFlex="80%">
                    <router-outlet></router-outlet>
                </div>
                <div fxFlex="10%"></div>
            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>