<div class="spinner" *ngIf="!recipe">
    <mat-spinner></mat-spinner>
</div>
<div class="example-card" *ngIf="recipe">
    <div class="container" fxLayout.xs="column" fxLayoutAlign="right">
        <div fxFlex="30%"></div>
        <div fxFlex="70%">

            <img src="{{recipe.picture}}" class="header-image" alt="" style="width:100%;">
        </div>
        <div class="text-block">
            <p class="mat-h1 name">{{recipe.name}}</p>
        </div>
    </div>
    <p class="mat-h2 short-text">{{recipe.short}}</p>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
        <div fxFlex="70%">
            <div class="step-box">

                <p class="mat-h3">{{recipe.long}}</p>
            </div>
            <div *ngFor="let s of recipe.steps let i=index;">
                <div class="step-box">
                    <div class="step">
                        {{i+1}}
                    </div>
                    <p class="mat-h3 step-text">{{s.step}}</p>
                </div>
            </div>
        </div>
        <div fxFlex="30%">
            <mat-card>
                <p class="mat-h2">
                    <span>Hozzávalók&#32;</span>
                    <span class="mat-h1 orange">{{recipe.serves}}&#160;</span>
                    <span>{{recipe.servesfor}}</span>
                </p>
                <div role="list" *ngFor="let i of recipe.ingredients">
                    <p>
                        <span class='orange'>{{i.quanity}}&#32;</span>
                        <span>{{i.ingredient}}</span>
                    </p>
                </div>
            </mat-card>
            <div class="statbox" *ngIf="recipedata">
                <span>Megtekintve:&#32;</span>
                <span class='orange'>{{ recipedata.opened }}&#160;</span>
                <span>alkalommal</span>
                <div>
                    <div class="stars-box">
                        <star-rating [hoverEnabled]="true" speed="noticable" staticColor="ok" [starType]="'svg'" size="large" [showHalfStars]="true" [rating]="rateaverage" (starClickChange)="toggleRate($event)" labelText="({{ratecount}})" labelPosition="right">
                        </star-rating>
                    </div>

                </div>

                <star-rating [hoverEnabled]="false" speed="noticable" staticColor="ok" [starType]="'svg'" size="medium" [numOfStars]="rateUser" [rating]="5" labelText="A te értékelésed:" labelPosition="left" [disabled]="true" [readOnly]="true" *ngIf="rateUser">
                </star-rating>
                <div class="favourite-box">
                    <span class="favourite-yes" *ngIf="favourite === true">
                        <i class="fa fa-heart"
                        (click)="toggleFavourites()"> Hozzáadás a kedvencekhez</i></span>
                    <span class="favourite-no" *ngIf="favourite === false">
                        <i class="fa fa-heart"
                        (click)="toggleFavourites()"> Eltávolítás a kedvencekből</i></span>
                </div>
            </div>
        </div>
    </div>
</div>