.header-image-box {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 200px;
    overflow: hidden;
}

.header-image {
    border-radius: 8vw 2vw 4px 0;
    display: block;
    max-height: 420px;
    position: relative;
    float: right;
}

.title-box {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.container {
    position: relative;
    display: flex;
    margin-top: 30px;
}

.text-block {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    padding-left: 0px;
    padding-right: 20px;
    border-radius: 1vw 0 4px 1vw;
}

.name {
    padding-left: 2vw;
    font-size: calc(16px + 3vw);
    margin-top: calc(16px + 2vw);
    margin-bottom: calc(16px + 2vw);
}

.orange {
    color: #f4511e;
}

.blue {
    color: #51608c;
}

.step {
    font-size: calc(30px + 3vw);
    float: left;
    margin-right: 2vw;
    color: #51608c;
}

.step-text {
    padding-top: calc(0px + 0.5vw);
}

.short-text {
    margin-top: 20px;
    font-size: calc(18px + 0.7vw);
}

.spacer {
    margin-bottom: 10px;
}

.step-box {
    clear: both;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 1vw;
}

.statbox {
    font-family: Mina;
    word-wrap: break-word;
    margin: 20px 0 0 0;
}

.clear-both {
    clear: both;
}

.favourite-no {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.favourite-yes {
    font-size: 30px;
    color: #f4511e;
    cursor: pointer;
}

.favourite-title {
    font-family: Mina;
    font-size: 16px;
}

.rate-average {
    padding-top: 12px;
}

.add {
    margin-bottom: 10px;
}

::ng-deep .mat-tooltip {
    font-size: 14px!important;
}

::ng-deep .rating {
    outline: none;
    margin-bottom: 0px;
}

::ng-deep .star-container {
    margin: 0;
}

::ng-deep .label-value {
    margin-top: 6px;
    font-size: 10px;
}

.mat-expansion-panel-header-title {
    font-size: 24px;
}

.icon {
    height: 70px;
    display: flex;
}

.opened-icon {
    font-size: 30px;
}

.opened-text {
    font-size: 26px;
}