<div class="spinner" *ngIf="!recipe">
    <mat-spinner></mat-spinner>
</div>
<div class="example-card" *ngIf="recipe">
    <div class="container" fxLayout.xs="column" fxLayoutAlign="right">
        <div fxFlex="30%"></div>
        <div fxFlex="70%">
            <img src="{{recipe.picture}}" class="header-image" alt="" style="width:100%;">
        </div>
        <div class="text-block">
            <p class="mat-h1 name">{{recipe.name}}</p>
        </div>
    </div>
    <p class="mat-h2 short-text">{{recipe.short}}</p>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
        <div fxFlex="70%">
            <div class="step-box">
                <p class="mat-h3">{{recipe.long}}</p>
            </div>
            <div *ngFor="let s of recipe.steps let i=index;">
                <div class="step-box">
                    <div class="step">
                        {{i+1}}
                    </div>
                    <p class="mat-h3 step-text">{{s.step}}</p>
                </div>
            </div>
            <div class="spacer clear-both"></div>
            <div class="container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="recipedata">
                <div class="icon">
                    <mat-card>
                        <span class="favourite-yes" *ngIf="favourite === true">
                                            <i class="fa fa-heart"
                                            (click)="toggleFavourites()"></i>
                                        </span>
                        <span class="favourite-no" *ngIf="favourite === false">
                                            <i class="fa fa-heart"
                                            (click)="toggleFavourites()"></i>
                                        </span>
                    </mat-card>
                </div>
                <div class="icon">
                    <mat-card>
                        <i class="fa fa-eye opened-icon"></i><span class='orange opened-text'>&#32;{{ recipedata.opened }}</span>
                    </mat-card>
                </div>
            </div>
            <div class="spacer"></div>
            <div>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>HOZZÁSZÓLÁSOK</mat-panel-title>
                            <mat-panel-description></mat-panel-description>
                        </mat-expansion-panel-header>
                        <div *ngIf="loggedInUserId">
                            <mat-form-field appearance="fill" fxFlex="100%">
                                <mat-label>Szólj hozzá...</mat-label>
                                <textarea matTextareaAutosize matInput placeholder="" [(ngModel)]="comment"></textarea>
                            </mat-form-field>
                            <span matSuffix fxLayoutGap="10px" xLayoutAlign="right bottom">
                                <button mat-mini-fab color="basic" (click)="addComment()" [disabled]="!comment" class="add">
                                        <i class="fa fa-paper-plane"></i>
                                </button>                    
                            </span>
                        </div>
                        <app-recipe-comments></app-recipe-comments>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div fxFlex="30%">
            <mat-card>
                <p class="mat-h2">
                    <span>Hozzávalók&#32;</span>
                    <span class="mat-h1 orange">{{recipe.serves}}&#160;</span>
                    <span>{{recipe.servesfor}}</span>
                </p>
                <div role="list" *ngFor="let i of recipe.ingredients">
                    <p>
                        <span class='orange'>{{i.quanity}}&#32;</span>
                        <span>{{i.ingredient}}</span>
                    </p>
                </div>
            </mat-card>
            <div class="statbox" *ngIf="recipedata">
                <div class="stars-box">
                    <star-rating [hoverEnabled]="true" speed="noticable" staticColor="ok" [starType]="'svg'" size="large" [showHalfStars]="true" [rating]="rateaverage" (starClickChange)="toggleRate($event)" labelText="({{ratecount}})" labelPosition="right">
                    </star-rating>
                </div>
                <star-rating [hoverEnabled]="false" speed="noticable" staticColor="ok" [starType]="'svg'" size="medium" [numOfStars]="rateUser" [rating]="5" labelText="A te értékelésed:" labelPosition="left" [disabled]="true" [readOnly]="true" *ngIf="rateUser">
                </star-rating>
            </div>
        </div>
    </div>
</div>