@import "../../shared/palette.scss";
::ng-deep .recipe {
    color: $tn2;
    width: 100%;
    font-family: Mina;
    padding: 12px;
    .top-box {
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        font-size: 10px;
        margin-bottom: 24px;
        a {
            outline: none;
            text-decoration: none;
        }
        .edit {
            border-right: 1px solid $tn2;
            color: $tn2;
            padding: 0 12px;
            cursor: pointer;
            .icon {
                font-size: 30px;
                margin: 0 0 -12px 0;
            }
        }
        .favourite {
            padding: 0 12px;
            cursor: pointer;
            .icon {
                font-size: 30px;
                margin: 0 0 -12px 0;
                .favourite-no {
                    color: $tn2;
                }
                .favourite-yes {
                    color: $tw1;
                }
            }
        }
        .opened {
            border-left: 1px solid $tn2;
            color: $tn2;
            padding: 0 0 0 12px;
            cursor: pointer;
            .icon {
                font-size: 30px;
                margin: 0 0 -12px 0;
            }
            .text {
                color: $tw1;
                font-size: 24px;
            }
        }
    }
    .image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
        margin: 12px 0 6px 0;
        border-radius: 4px 4px 20px 4px;
        .icon-border {
            position: relative;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: $tw1;
            border: 1px solid $bg1;
            padding: 2px;
            z-index: 1;
            margin: 6px 6px 0 0;
            .icon {
                width: 28px;
                height: 28px;
                margin: 2px;
            }
        }
    }
    .min-images {
        height: 56px;
        width: 100%;
        margin: 6px 0 12px 0;
    }
    .min-image {
        height: 56px;
        width: 100px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 6px 0 0;
        border-radius: 4px 4px 0 0;
        .selected {
            border-bottom-width: 4px;
            border-bottom-color: $tw2;
            border-bottom-style: solid;
            width: 100%;
            height: 100%;
            border-radius: 0 0 4px 4px;
        }
        .unselected {
            background-color: rgba(0, 0, 0, 0.479);
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition-duration: 1s;
        }
        .unselected:hover {
            background-color: rgba(0, 0, 0, 0);
        }
    }
    .min-image-plus {
        height: 56px;
        width: 100px;
        font-size: 30px;
        cursor: pointer;
    }
    .title {
        font-size: calc(16px + 0.5vw);
        margin: 0 0 4px 0;
        text-transform: uppercase;
    }
    .details {
        height: 100%;
        margin: 12px 12px 0 0;
        .short {
            text-align: justify;
            text-justify: inter-word;
            margin: 0;
        }
        .stars-box {
            height: 74px;
            margin: 12px 0 0 0;
            .label-value {
                font-size: 16px !important;
            }
            .rating {
                outline: none;
                margin-bottom: 0px;
            }
            .label-value {
                margin: 8px 0 -8px 0 !important;
            }
            .your-stars {
                margin: 0;
                display: none;
                animation: move-down 0.5s;
                .label-value {
                    margin: 4px 0 -4px 0 !important;
                    font-size: 16px !important;
                }
            }
        }
        .stars-box:hover {
            .your-stars {
                display: block;
            }
        }
        .time-box {
            width: 100%;
            margin: 12px 0 12px 0;
            .col1 {
                width: 80px;
                .material-icons {
                    font-size: 40px;
                }
            }
            .col2 {
                width: 120px;
                border-left: 1px solid $tn2;
                .time {
                    color: $tw1;
                    font-size: 24px;
                }
            }
        }
    }
    .step-box {
        clear: both;
        text-align: justify;
        text-justify: inter-word;
        margin: 24px 0 0 0;
        p {
            margin: 0;
        }
        .step {
            clear: both;
            .count {
                font-size: calc(30px + 1vw);
                float: left;
                margin: 0 10px -20px 0;
                color: $tw2;
            }
            .text {
                padding-top: 0.5vw;
                word-break: break-word;
                white-space: pre-wrap;
            }
        }
        .spacer {
            margin-bottom: 10px;
            clear: both;
        }
        .avatar-box {
            margin: 5px 0 5px 5px;
            .avatar-box-1 {
                margin: 10px 0 5px 2px;
                .avatar {
                    background-size: cover;
                    overflow: hidden;
                    border: 2px solid $tw2;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }
            .avatar-box-3 {
                border-bottom: 1px solid $tw2;
                margin: 6px 4px 0 0;
                font-family: Mina;
                color: $tn2
            }
            .avatar-box-4 {
                display: block;
                font-size: 10px;
                margin: 4px 0 0 0;
                color: $tw2
            }
        }
        .comments {
            margin: 16px;
        }
    }
    .ingredients {
        background-color: $bg3;
        margin: 12px 0 0 0;
        padding: 6px;
        color: $tn1;
        border-radius: 4px 4px 20px 4px;
        p {
            margin: 0;
        }
        .num {
            color: $tw1;
            font-size: 24px;
        }
        .quanity {
            color: $tw1;
        }
    }
    .header-row {
        position: relative;
        height: 10px;
        width: 100%;
        background-color: $bg1;
        border-radius: 5px 5px 0 5px;
    }
    .mat-accordion .mat-expansion-panel:last-of-type {
        border-bottom-right-radius: 20px;
    }
    .add {
        bottom: 10px;
    }
}