<mat-card>
    <mat-card-title>
        Record Collection
    </mat-card-title>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let item of demo">
            <mat-expansion-panel-header (click)="editForms($event, item)">
                <mat-panel-title>
                    • {{item.record}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
                <form [formGroup]="myForm">
                    <mat-form-field>
                        <input matInput placeholder="Record" formControlName="record">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Details" formControlName="details">
                    </mat-form-field>
                    <mat-card>
                        <mat-card-subtitle>
                            Fields
                        </mat-card-subtitle>
                        <div formArrayName="fields">
                            <div *ngFor="let field of fieldForms.controls; let fieldI=index; last as isLast; first as isFirst" [formGroupName]="fieldI">
                                <mat-form-field>
                                    <input matInput placeholder="Field 1" formControlName="field1">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Field 2" formControlName="field2">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Field 3" formControlName="field3">
                                </mat-form-field>
                                <span class="button-row">
                                    <button mat-mini-fab color="warn" (click)="deleteFields(fieldI)" *ngIf="isFirst == false"><mat-icon>delete</mat-icon></button>
                                    <button mat-mini-fab color="primary" (click)="addFields()" *ngIf="isLast"><mat-icon>add</mat-icon></button>
                                </span>
                            </div>
                        </div>
                    </mat-card>
                    <br>
                </form>
                <span class="button-row">
                        <button mat-raised-button color="primary" (click)="updateForms($event, item.id)" [disabled]="myForm.invalid">Update Form</button>
                        <button mat-raised-button color="warn" class="float-right" (click)="deleteForms($event, item.id)">Delete Form</button>
                        </span>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>