<div class="top">
    <div fxFlex class="cover">
        <div fxFlex="50" fxFlex.xs="none">

        </div>
        <div FxFlex="50" fxFlex.xs="100" fxLayout="column" class="m-container">
            <div class="box" fxLayout="column" fxLayoutAlign="end center">
                <div class="logo">
                    <img src="../../../assets/img/logo.png" alt="">
                </div>
                <div class="logo-text">
                    <span>RMCOOK</span>
                </div>
            </div>
            <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
                <div fxLayout class="top-box">
                    <a [routerLink]="['/recipes', 'all']">
                        <div class="all" fxLayoutAlign="center center" fxLayout="column">
                            <div class="icon"><i class="fa fa-book"></i></div>
                            <div class="sub">RecipeBook</div>
                            <div class='text'>{{allRecipesCount}}</div>
                        </div>
                    </a>
                    <a [routerLink]="['/recipes', 'myrecipes']">
                        <div class="my" fxLayoutAlign="center center" fxLayout="column">
                            <div class="icon"><i class="fa fa-address-book"></i></div>
                            <div class="sub">My Recipes</div>
                            <div class='text'>{{myRecipesCount}}</div>
                        </div>
                    </a>
                    <a [routerLink]="['/recipe-send']">
                        <div class="add" fxLayoutAlign="center center" fxLayout="column">
                            <div class="icon"><i class="fa fa-plus-square"></i></div>
                            <div class="sub">New Recipe</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div fxLayout="column" fxLayoutAlign="center center" class="scroll-down">
        <div class="icon-border">
            <img class="icon" src="../../../assets/img/fork.png" alt="">
        </div>
        <div class="title">
            one-course dishes
        </div>
    </div>
<div class="list-container">
    <div class="category-title" fxLayout="column" fxLayoutAlign="center center">

        <div class="list-box" fxLayout="row wrap" fxLayout.xs="column" fxFlex="100" fxLayoutAlign="center center" fxLayoutGap="25px">
            <ng-container *ngFor="let s of recipes let i=index;">
                <div fxFlex="30" fxFlex.xs="100" class="list-item" *ngIf="s.cat1=='Egytálétel' && i<6">
                    <div class="element">
                        <div class="image" [ngStyle]="{'background-image': 'url('+ s.picture +')'}">
                        </div>
                        <div class="element-title">
                            {{s.name}}
                        </div>
                        <div class="element-short">
                            {{s.short}}
                        </div>
                    </div>
                </div>
            </ng-container>
            <div fxFlex="30" fxFlex.xs="100" class="list-item">
                <div class="element">
                    Show more
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div> -->