<div class="top">
    <div class="no-gutters row cover">
        <div class="no-gutters col-md-6 col-sm-none"></div>
        <div class="no-gutters col-md-6 col-sm-12 m-container">
            <div class="no-gutters row align-items-end justify-content-center box">
                <div class="d-none d-md-block">
                    <div class="no-gutters row justify-content-center">
                        <img src="../../../assets/img/logo.png" alt="">
                    </div>
                    <div class="no-gutters row justify-content-center logo-text">
                        RMCOOK
                    </div>

                </div>
            </div>
            <div class="no-gutters row align-items-end align-items-sm-center justify-content-center box">
                <div class="no-gutters row col-10 col-lg-8 col-xl-7 justify-content-center top-box">
                    <div class="no-gutters col-4 all">
                        <a [routerLink]="['/recipes', 'all']">
                            <div class="no-gutters row align-items-top justify-content-center icon"><i class="fa fa-book"></i></div>
                            <div class="no-gutters row align-items-top justify-content-center sub">RecipeBook</div>
                            <div class='no-gutters row align-items-top justify-content-center text'>{{allRecipesCount}}</div>
                        </a>
                    </div>
                    <div class="no-gutters col-4 my">
                        <a [routerLink]="['/recipes', 'myrecipes']">
                            <div class="no-gutters row align-items-top justify-content-center icon"><i class="fa fa-address-book"></i></div>
                            <div class="no-gutters row align-items-top justify-content-center sub">My Recipes</div>
                            <div class='no-gutters row align-items-top justify-content-center text'>{{myRecipesCount}}</div>
                        </a>
                    </div>
                    <div class="no-gutters col-4 add">
                        <a [routerLink]="['/recipe-send']">
                            <div class="no-gutters row align-items-top justify-content-center icon"><i class="fa fa-plus-square"></i></div>
                            <div class="no-gutters row align-items-top justify-content-center sub">New Recipe</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="recipe-list-container">
    <div>
        <div class="no-gutters row justify-content-center">
            <div class="no-gutters row justify-content-center icon-border">
                <img class="icon" src="../../../assets/img/fork.png" alt="">
            </div>
        </div>
        <div class="no-gutters row justify-content-center title">
            one-course dish
        </div>
    </div>
    <div>
        <div class="no-gutters row align-items-top justify-content-center">

            <ng-container *ngFor="let s of recipes let i=index;">
                <div class="no-gutters col-12 col-sm-6 col-lg-4 recipe-card-container" *ngIf="s.cat1=='Egytálétel' && i<6">
                    <a [routerLink]="['/recipe', s.id]">
                        <div class="recipe-card">
                            <div class="no-gutters row recipe-card-inside">

                                <div class="no-gutters col-4">
                                    <div class="recipe-image" [ngStyle]="{ 'background-image': 'url('+ s.picture + ')'} ">
                                    </div>
                                </div>
                                <div class="no-gutters col-8">
                                    <div class="recipe-title">{{s.name}}</div>
                                    <div class="recipe-short">{{s.short}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-container>

            <div class="no-gutters col-12 col-sm-6 col-lg-4 more-card-container">
                <div class="no-gutters row align-items-center justify-content-center more-card">
                    <div>
                        <div class="no-gutters row justify-content-center more-title">Show more</div>
                        <div class="no-gutters row justify-content-center more-category"> one-course dishes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="no-gutters row justify-content-center">
            <div class="no-gutters row justify-content-center icon-border">
                <img class="icon" src="../../../assets/img/spoon.png" alt="">
            </div>
        </div>
        <div class="no-gutters row justify-content-center title">
            soup
        </div>
    </div>
    <div>
        <div class="no-gutters row align-items-top justify-content-center">
            <ng-container *ngFor="let s of recipes let i=index;">
                <div class="no-gutters col-12 col-sm-6 col-lg-4 recipe-card-container" *ngIf="s.cat1=='Leves' && i<6">
                    <a [routerLink]="['/recipe', s.id]">
                        <div class="recipe-card">
                            <div class="recipe-image" [ngStyle]="{ 'background-image': 'url('+ s.picture + ')'} "></div>
                            <div class="recipe-title">{{s.name}}</div>
                            <div class="recipe-short">{{s.short}}</div>
                        </div>
                    </a>
                </div>
            </ng-container>
            <div class="no-gutters col-12 col-sm-6 col-lg-4 more-card-container">
                <div class="no-gutters row align-items-center justify-content-center more-card">
                    <div>
                        <div class="no-gutters row justify-content-center more-title">Show more</div>
                        <div class="no-gutters row justify-content-center more-category">soups</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="no-gutters row justify-content-center">
            <div class="no-gutters row justify-content-center icon-border">
                <img class="icon" src="../../../assets/img/dessert.png" alt="">
            </div>
        </div>
        <div class="no-gutters row justify-content-center title">
            dessert
        </div>
    </div>
    <div>
        <div class="no-gutters row align-items-top justify-content-center">
            <ng-container *ngFor="let s of recipes let i=index;">
                <div class="no-gutters col-12 col-sm-6 col-lg-4 recipe-card-container" *ngIf="s.cat1=='Desszert' && i<6">
                    <a [routerLink]="['/recipe', s.id]">
                        <div class="recipe-card">
                            <div class="recipe-image" [ngStyle]="{ 'background-image': 'url('+ s.picture + ')'} "></div>
                            <div class="recipe-title">{{s.name}}</div>
                            <div class="recipe-short">{{s.short}}</div>
                        </div>
                    </a>
                </div>
            </ng-container>
            <div class="no-gutters col-12 col-sm-6 col-lg-4 more-card-container">
                <div class="no-gutters row align-items-center justify-content-center more-card">
                    <div>
                        <div class="no-gutters row justify-content-center more-title">Show more</div>
                        <div class="no-gutters row justify-content-center more-category">desserts</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="no-gutters row justify-content-center">
            <div class="no-gutters row justify-content-center icon-border">
                <img class="icon" src="../../../assets/img/appetizer.png" alt="">
            </div>
        </div>
        <div class="no-gutters row justify-content-center title">
            apperitif
        </div>
    </div>
    <div>
        <div class="no-gutters row align-items-top justify-content-center">
            <ng-container *ngFor="let s of recipes let i=index;">
                <div class="no-gutters col-12 col-sm-6 col-lg-4 recipe-card-container" *ngIf="s.cat1=='Eloetel' && i<6">
                    <a [routerLink]="['/recipe', s.id]">
                        <div class="recipe-card">
                            <div class="recipe-image" [ngStyle]="{ 'background-image': 'url('+ s.picture + ')'} "></div>
                            <div class="recipe-title">{{s.name}}</div>
                            <div class="recipe-short">{{s.short}}</div>
                        </div>
                    </a>
                </div>
            </ng-container>
            <div class="no-gutters col-12 col-sm-6 col-lg-4 more-card-container">
                <div class="no-gutters row align-items-center justify-content-center more-card">
                    <div>
                        <div class="no-gutters row justify-content-center more-title">Show more</div>
                        <div class="no-gutters row justify-content-center more-category">apperitifes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="no-gutters row justify-content-center">
            <div class="no-gutters row justify-content-center icon-border">
                <img class="icon" src="../../../assets/img/fozelek.png" alt="">
            </div>
        </div>
        <div class="no-gutters row justify-content-center title">
            stew
        </div>
    </div>
    <div>
        <div class="no-gutters row align-items-top justify-content-center">
            <ng-container *ngFor="let s of recipes let i=index;">
                <div class="no-gutters col-12 col-sm-6 col-lg-4 recipe-card-container" *ngIf="s.cat1=='Fozelek' && i<6">
                    <a [routerLink]="['/recipe', s.id]">
                        <div class="recipe-card">
                            <div class="recipe-image" [ngStyle]="{ 'background-image': 'url('+ s.picture + ')'} "></div>
                            <div class="recipe-title">{{s.name}}</div>
                            <div class="recipe-short">{{s.short}}</div>
                        </div>
                    </a>
                </div>
            </ng-container>
            <div class="no-gutters col-12 col-sm-6 col-lg-4 more-card-container">
                <div class="no-gutters row align-items-center justify-content-center more-card">
                    <div>
                        <div class="no-gutters row justify-content-center more-title">Show more</div>
                        <div class="no-gutters row justify-content-center more-category">stewes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>