@import "../../shared/palette.scss";
@import url('https://fonts.googleapis.com/css?family=Syncopate:700&display=swap');
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    >.col,
    >[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

a {
    outline: none;
    text-decoration: none;
    color: $bg2;
}

.top {
    height: 100vh;
    width: 100%;
    background-image: url("../../../assets/img/chef-background.jpg");
    background-position: left;
    background-size: cover;
    .cover {
        height: 100vh;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        .m-container {
            width: 100%;
            height: 100%;
            font-family: Mina;
            .box {
                height: 50vh;
                width: 100%;
                .logo-text {
                    font-family: 'Syncopate', sans-serif;
                    color: $bg2;
                    font-size: 44px;
                    font-weight: 200;
                }
                .top-box {
                    text-transform: uppercase;
                    font-size: 10px;
                    width: 100%;
                    cursor: pointer;
                    margin: 0 0 50px 0;
                    .all,
                    .my {
                        border-right: 1px solid $bg2;
                        padding: 0 12px;
                    }
                    .add {
                        padding: 0 12px;
                    }
                    .icon {
                        font-size: calc(30px + 2vw);
                    }
                    .sub {
                        font-size: calc(12px + 0.2vw);
                    }
                    .text {
                        color: $tw2;
                        font-size: calc(18px + 0.2vw);
                    }
                }
            }
        }
    }
}

.recipe-list-container {
    color: $tn2;
    font-family: Mina;
    .icon-border {
        margin: 40px 0 0 0;
        width: 76px;
        height: 76px;
        border-radius: 50%;
        border: 2px solid $tw2;
        background-color: $bg1;
        padding: 6px;
        .icon {
            width: 50px;
            height: 50px;
            margin: 7px;
            filter: invert(46%) sepia(10%) saturate(1228%) hue-rotate(187deg) brightness(99%) contrast(86%);
        }
    }
    .title {
        font-size: 30px;
        text-transform: uppercase;
        margin: 0 0 32px 0;
        color: $tw2;
    }
    .recipe-card-container {
        padding: 12px;
        height: 400px;
        overflow: hidden;
        .recipe-card {
            background-color: $bg2;
            color: $tn2;
            border-radius: 4px 4px 20px 4px;
            height: 100%;
            // padding: 12px;
            overflow: hidden;
            border-bottom: 1px solid $tw2;
            .recipe-card-inside {
                height: 100%;
                .recipe-image {
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    margin: 0 0 6px 0;
                    border-radius: 4px 4px 0 4px;
                }
                .recipe-title {
                    position: relative;
                    left: -8vw;
                    // margin: 0 0 0 -0.8vw;
                    width: calc(100% + 8vw);
                    padding: 4px 4px 4px 10px;
                    border-radius: 0 4px 0 20px;
                    background-color: $bg0;
                    color: $tn2;
                    font-size: 22px;
                    text-transform: uppercase;
                    line-height: 1;
                    border-bottom: 1px solid $tw2;
                }
                .recipe-short {
                    padding: 6px;
                    font-size: 16px;
                    text-align: justify;
                }
            }
        }
    }
    .more-card-container {
        padding: 24px;
        overflow: hidden;
        .more-card {
            color: $tn2;
            border-radius: 4px 4px 20px 4px;
            height: 100%;
            padding: 12px;
            overflow: hidden;
            .more-title {
                font-size: 22px;
                text-transform: uppercase;
            }
            .more-category {
                font-size: 22px;
                text-transform: uppercase;
            }
        }
    }
}