//Dark
$bg0: #303030;
$bg1: #212121;
$bg2: #343434;
$bg3: #424242;
$tn1: #ffffff;
$tn2: #a7a7a7;
$tw1: #d4532c;
$tw2: #6c799e;
$shd: rgba(0, 0, 0, .24);
// Bright
// $bg1: #a7a7a7;
// $bg2: #ffffff;
// $bg3: #242424;
// $tn1: #343434;
// $tn2: #2c2c2c;
// $tw1: #d4532c;
// $tw2: #51608c;
// $shd: rgba(0, 0, 0, .24);