@import "../../shared/palette.scss";
.footer {
    color: $tn2;
    font-family: Mina;
    background-color: $bg1;
    width: 100%;
    .top-spacer {
        width: 100%;
        height: 80px;
        background-color: $bg2;
    }
    .top {
        width: 100%;
        height: 8px;
        background-color: $bg1;
    }
    .box1-container {
        margin-right: 20px;
        position: relative;
        .box1 {
            background-color: $bg2;
            border-radius: 0 20px 0 0;
            padding: 16px;
            position: relative;
            .top {
                background-color: $bg2;
                position: relative;
                right: 10px;
                top: 10px;
                height: 100%;
                .newsletter {
                    font-family: Mina;
                    color: $tn2;
                    padding-left: 16px;
                    h3 {
                        margin-bottom: 0;
                        border-bottom: 1px solid $tn2;
                    }
                    button {
                        margin: 20px 0 16px 0;
                    }
                }
                .logo {
                    display: block;
                    font-family: "Cinzel Decorative", cursive;
                    color: $tw2;
                    margin-left: 13px;
                    text-decoration: none;
                    .picture-container {
                        min-width: 140px;
                        width: 140px;
                        .picture {
                            width: 120px;
                            position: relative;
                            top: 17px;
                            left: 26px;
                        }
                    }
                    .border {
                        border: 2px solid $tw2;
                        border-radius: 4px 4px 4px 20px;
                        padding: 0 0 4px 12px;
                        width: 124px;
                        background-color: $bg1;
                        .firstline {
                            font-weight: 500;
                            font-size: 70px;
                            margin: 0 0 -30px 0;
                        }
                        .secondline {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
    .box2 {
        background-color: $bg1;
        padding: 16px;
        .title {
            border-bottom: 1px solid $tn2;
            h3 {
                margin: 29px 0 0 0;
            }
        }
        a {
            color: $tw2;
            text-decoration: none;
            display: inline-block;
            position: relative;
        }
        a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: $tn2;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        a:hover:after {
            width: 100%;
            left: 0;
        }
    }
    .box3 {
        background-color: $bg1;
        padding: 16px;
        .title {
            border-bottom: 1px solid $tn2;
            h3 {
                margin: 29px 0 0 0;
            }
        }
        a {
            color: $tw2;
            text-decoration: none;
            display: inline-block;
            position: relative;
        }
        a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: $tn2;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        a:hover:after {
            width: 100%;
            left: 0;
        }
    }
    .box4 {
        background-color: $bg2;
        border-radius: 20px 0 0 0;
        .copyright {
            padding: 12px;
        }
        .icons {
            a {
                text-decoration: none;
                color: $tn2;
                font-size: 1.2em;
                margin: 8px;
            }
        }
    }
}

::ng-deep .mat-checkbox-layout {
    white-space: normal !important;
}