<div fxLayout="row" fxLayoutAlign="end center" class="header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szűrés">
        <span matSuffix fxLayoutGap="10px" xLayoutAlign="right bottom"><mat-icon>search</mat-icon></span>
    </mat-form-field>
</div>
<div>
    <mat-table [dataSource]="dataSource" matSort *ngIf="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div fxFill fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <div fxLayout="column" fxFlex="100">
                        <div fxLayout="row" class="box" fxFlex="100">
                            <div class="avatar-box">
                                <div class="avatar" [ngStyle]="{'background-image':'url('+row.photoURL+')'}"></div>
                            </div>
                            <div fxLayout="column" fxFlex="100" fxFlexOrder="3">
                                <div class="name" fxFlex="100">
                                    &nbsp;{{row.name}}
                                </div>
                                <div class="date" fxFlex="100">
                                    {{row.commentdate.toDate() | date: 'yyyy.MM.dd - HH:mm'}}
                                </div>
                            </div>
                        </div>
                        <div class="comment" fxFlex="100">
                            <p>{{row.comment}}</p>
                        </div>
                    </div>
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>